@page "/Settings"
@inject keyvault.web.models.AppSettings.LocalConfigurations settings


<div class="container">
    <h1>Application Settings</h1>
    <h3>Current Keyvault: @settings.Keyvault.KeyvaultUrl</h3>
    <h3>Current AppId: @settings.Keyvault.APIApplicationId</h3>
    <h3>Current Scope: @settings.Keyvault.ApiScope</h3>
    <h3>Current BaseUrl: @settings.Keyvault.APIBaseUrl</h3>    
</div>
